<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>
<body>
    <h1>Cupcakes</h1>
    <ul></ul>
    <h2>Create New Cupcake</h2>
    <form id = "cupcake-form">
        <div><label name ="flavor" id= "flavor">Flavor</label>
        <input name = "flavor" id ="flavor-input">
        </div>
        <div><label name ="size" id= "size">Size</label>
        <input name = "size" id ="size-input">
        </div>
        <div><label name ="rating" id= "rating">Rating</label>
        <input name = "rating" id ="rating-input">
        </div>
        <div><label name ="image" id= "image">Image</label>
                <input name = "image" id ="image-input">
        </div>
        <button>Add Cupcake</button>
        </form>
<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/cupcakes.js"></script>

</body>
</html>